@model IndyBooks.ViewModels.SearchResultsVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Admin Search";
    Layout = "_Layout";
}

<h3>Search Result</h3>

<!-- TODO: Update to use the new properties from the ERD-->
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            SKU
        </th>
        <th>
            Price
        </th>
    </tr>

    @foreach (var book in Model.FoundBooks)
    {
        <tr>
            <td>
                @book.Title
            </td>
            <td>
                @book.Author.Name
            </td>
            <td class="rightedge">
                @book.SKU
            </td>
            <td class="rightedge">
                @String.Format("{0:C2}", @book.Price)
            </td>
            <td class="rightedge">
                <!-- TODO: Set the asp-route-id attribute to the  book.Id in the Remove and Update links -->
                <a asp-action="DeleteBook" asp-controller="Admin"
                   asp-route-id="@book.Id">Remove</a> |
                <!-- TODO: Add an "Update action link here-->
                
                <input type="Update" value="Update" />
            </td>
        </tr>
    }
    @if (Model.HalfPriceSale)
    { //TODO: Use an aggregate method to display the number of books for sale
        <tr>
            <td colspan="4" align="right">
                <b>Number of half-price books:</b>
                @Model.FoundBooks.Count(b => b.Price > 0)
            </td>
        </tr>
    }
</table>